.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #555;
}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-form-field{
  width: 80%;
}
form {
  width: 45%;
}

.img-container {
  width: 45%;
  height: 100%;

  & img {
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

mat-card {
  width: 50%;
  margin: 16px auto;
}
